<!DOCTYPE html>
<html>
  <head>
    <title>DoStudentsDreamOfCheapTextbooks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
            <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/application.css">
      <title>Do Students Dream of Cheap Textbooks?</title>
      <div class="jumbotron">
  <h1>Do Students Dream of Cheap Textbooks?</h1>
  <p>This is where the magic of cheap textbooks happen.  Use the search function and get started.</p>
  <input type="text" name="search" placeholder="Search..">

</div>
  </body>
</html>
