


    <div class="jumbotron">
  <h1>Do Students Dream of Cheap Textbooks?</h1>
  <p>This is where the magic of cheap textbooks happen.  Use the search function and get started.</p>
<%= render 'form', search: @search %>
</div>
<%= yield %>
</body>

<div class="footer">
<footer>
<a href ="#">About Us</a>
<p>Do Students Dream of Cheap Textbooks © 2016</p>

</div>

</footer>

</div>







